.trashBoxList {
    display: flex;
    
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
}


.trash-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 30px;
}

.trash-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
    /* width:fit-content;
    min-width: fit-content;
    max-width: fit-content; */
}

/* 스크롤바 너비 설정 */ 
.trash-masonry-grid::-webkit-scrollbar{ 
    width: 6px; 
}

.trash-masonry-grid::-webkit-scrollbar-thumb{ 
    /* 스크롤바 막대 높이 설정 */ 
    height: 17%; 
    background-color: #b4b4b4;

    /* 스크롤바 둥글게 설정 */ 
    border-radius: 10px; 
} 

/* 스크롤바 뒷 배경 설정*/ 
.trash-masonry-grid::-webkit-scrollbar-track{
    /* margin-top: 50px; */
    background-color: rgba(0,0,0,0); 
}