.afterBoxList {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    box-shadow: 2px 10px 25px 10px #e8e8e8 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    position: relative;
    z-index: 1;

    /*임시 텍스트 가운데 정렬*/
    align-items: center;
    justify-content: center;
    background-color: white;
}