.afterList {
    display: inline-block;
    box-sizing: border-box;
    width: 314px;
    height: 220px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.after_title h1{
    font-weight: bold;
    font-size: 22px;
}

hr {
    border: 0;
    height: 3px;
    background: rgb(231, 230, 230);
    margin-top: 10px;
    margin-bottom: 10px;
}