.afterSection {
    display: inline-block;
    box-sizing: border-box;
    width: 314px;
    height: 220px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.after_title h1{
    font-weight: bold;
    font-size: 22px;
}

hr {
    border: 0;
    height: 3px;
    background: rgb(231, 230, 230);
    margin-top: 10px;
    margin-bottom: 10px;
}

.afterBoxList {
    margin-top: 7px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 160px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.afterBoxList::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@media screen and (min-height:1000px){ 
    .afterSection {
        height: 300px;
    }
}