.memo {
    margin-top: 15px;
    width: 660px;
    height: 190px;
    box-shadow: 3px 3px 3px 1px #979797 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 15px
}

.memo_title {
    font-weight: bold;
    font-size: 22px;

}

.memo hr {
    border: 0;
    height: 3px;
    background: rgb(231, 230, 230);
    margin-top: 10px;
    margin-bottom: 10px;
}

.memo textarea {
    padding: 3px;
    resize: none;
    width: 620px;
    height: 130px;
    outline: none;
    border: none;
    line-height: 1.3;
}

.memo textarea::-webkit-scrollbar {
    display: none;
  }

@media screen and (max-width: 1340px) { 
    .memo {
        width: 320px;
    }

    .memo textarea {
        width: 300px;
    }
}

@media screen and (min-width:1600px) { 
    .memo {
        width: 1010px;
    }

    .memo textarea {
        width: 900px;
    }
}

@media screen and (min-height:1000px){ 
    .memo {
        height: 326px;
    }

    .memo textarea {
        height: 260px;
    }
}