.toDoBoxList {
    box-sizing: content-box;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
    width: 700px;
    height: 470px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.createToDoBoxBtn {
    position:absolute;
    float: right;
    top: 0;
    right: 0;
    margin-right: -5px;
}

/* 스크롤바 너비 설정 */ 
.toDoBoxList::-webkit-scrollbar{ 
    width: 6px; 
}

.toDoBoxList::-webkit-scrollbar-thumb{ 
    /* 스크롤바 막대 높이 설정 */ 
    height: 17%; 
    background-color: #b4b4b4;

    /* 스크롤바 둥글게 설정 */ 
    border-radius: 10px; 
} 

/* 스크롤바 뒷 배경 설정*/ 
.toDoBoxList::-webkit-scrollbar-track{
    margin-top: 50px;
    background-color: rgba(0,0,0,0); 
}

