.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.toDoBox__elm-list .shaking {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    /* 0%  { transform: translate(2px, 1px)   rotate(0deg);  }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px)  rotate(3deg);  }
    30% { transform: translate(0px, 2px)   rotate(0deg);  }
    40% { transform: translate(1px, -1px)  rotate(1deg);  }
    50% { transform: translate(-1px, 2px)  rotate(-1deg); }
    60% { transform: translate(-3px, 1px)  rotate(0deg);  }
    70% { transform: translate(2px, 1px)   rotate(-2deg); }
    80% { transform: translate(-1px, -1px) rotate(4deg);  }
    90% { transform: translate(2px, 2px)   rotate(0deg);  }
    100%{ transform: translate(1px, -2px)  rotate(-1deg); } */

    0%  { transform: translate(1px, 2px)   rotate(0deg);  }
    
    /* 50% { transform: translate(-1px, 1px)  rotate(-1deg); } */
    
    100%{ transform: translate(0px, 0px)  rotate(-1deg); } 
    /* 0%  { transform: rotate(10deg);  }
    50% { transform: rotate(0deg); } 
    100%{ transform: rotate(-10deg); } */
}

.toDoBox {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 5px 25px 20px; /*top right bottom left*/
    margin-bottom: 18px;
    margin-right: 18px;
    background-color: white;
    width: 320px;
    min-height: fit-content;
    height:fit-content;
    max-height: fit-content;
    box-shadow: 3px 3px 3px 1px #979797 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    z-index: 3;
    position: relative;
}

.toDoBox input::placeholder {
    color: rgb(194, 194, 194);
    font-style: italic;
}

.toDoBox .faTrash {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 16px;
    color: #e99076;
}

.toDoBox .faGripHorizontal {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 14px;
    /* color: #b6b6b6; */
    color: #4b4b4b;
}

.toDoBox .toDoBox__dragRef:hover {
    cursor: all-scroll;
}

.toDoBox__title {
    margin-bottom: 27px;
    display:flex;
    justify-content: flex-start;
}

.toDoBox__title .faThumbtack {
    margin-top: 3px;
    font-size: 15px;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}

.toDoBox__title .fixed {
    /* color: #f5bc0f; */
    color: rgb(254, 192, 1);
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(00deg); /* Chrome, Safari, Opera*/
    transform: rotate(00deg);
}

.toDoBox__title .fixed.rotate {
    animation: rotateThumbtackRight 0.5s;
}

@keyframes rotateThumbtackRight {
    from { transform: rotate(0deg); color: rgb(254, 192, 1); }
    to { transform: rotate(30deg); color:#4b4b4b; }
  }

.toDoBox__title .unfixed.rotate {
    animation: rotateThumbtackLeft 0.5s;
}

@keyframes rotateThumbtackLeft {
    from { transform: rotate(30deg); color:#4b4b4b; }
    to { transform: rotate(0deg); color: rgb(254, 192, 1); }
}

.toDoBox__title input {
    width: 200px;
    display: block;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    outline:none;
    border: none;
    font-size: 18px;
    /* border-left: 6px solid #f5bc0f; */
}

.toDoBox_menu {
    width: 50px;
    float: right;
    top: 0;
    right: 0;
    margin-top: -10px;
    padding-bottom: 30px; 
    display: flex;
    flex-wrap: wrap;
}

.toDoBox_menu .fa{
    display: inline-block;
    padding-right: 10px; 
    margin-bottom: 0px; 
    font-size: 24px;
    color:#4b4b4b;
}

.toDoBox__elm-list {
    padding-left: 5px;
}

.toDoBox__elm-list li {
    display: flex;
    align-items: center;
    position: relative;
}

.toDoBox__elm-list li:not(:last-child) { 
    margin-bottom: 29px;  
 }

.circleBorderBtn {
    position: absolute;
    outline: inherit;
    border: 2px solid lightgrey;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.toDoBox__elm-list .faCheck {
    position: absolute;
    width: 15px;
    left: 4px;
    color: #b6b6b6;
    margin: 3px;
}

.toDoBox__elm-list .completed {
    color: #FDDC42;
}

.toDoBox__elm-list .elmInputCompleted {
    color: #FDDC42;
}

.toDoBox__elm-list .editingCircleBorderBtn {
    border: 2px solid rgba(151, 53, 40, 0.7);
}

.toDoBox__elm-list .faMinus {
    position: absolute;
    width: 15px;
    left: 5px;
    color: rgba(151, 53, 40, 0.7);
}

.toDoBox__elm-list input {
    width: 220px;
    height: 14pt;
    overflow: visible;
    color: #7d7d7d;
    position: absolute;
    padding-left: 5px;
    left: 27px;
    outline:none;
    border: none;
    font-size: 16px;
}

.toDoBox .fa:hover {
    cursor: pointer;
}

.toDoBox .faCheck:hover {
    cursor: pointer;
}

.toDoBox .faMinus:hover {
    cursor: pointer;
}