.toDoBoxList {
    box-sizing: content-box;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 700px;
    height: 470px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.todo-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: 710px;
    height: 470px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 30px;
}

.todo-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
    /* width:fit-content;
    min-width: fit-content;
    max-width: fit-content; */
}

.createToDoBoxBtn {
    position:absolute;
    float: right;
    top: 0;
    right: 0;
    margin-right: -5px;
}

/* 스크롤바 너비 설정 */ 
.todo-masonry-grid::-webkit-scrollbar{ 
    width: 6px; 
}

.todo-masonry-grid::-webkit-scrollbar-thumb{ 
    /* 스크롤바 막대 높이 설정 */ 
    height: 17%; 
    background-color: #b4b4b4;

    /* 스크롤바 둥글게 설정 */ 
    border-radius: 10px; 
} 

/* 스크롤바 뒷 배경 설정*/ 
.todo-masonry-grid::-webkit-scrollbar-track{
    margin-top: 50px;
    background-color: rgba(0,0,0,0); 
    margin-right: -30px;
}

@media screen and (max-width: 1340px) { 
    .todo-masonry-grid {
        width: 380px;
    }
}

@media screen and (min-width:1600px){ 
    .todo-masonry-grid {
        width: 1050px;
    }
}

@media screen and (min-height:1000px){ 
    .todo-masonry-grid {
        height: 592px;
    }
}