.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.toDoBox {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 5px 25px 20px; /*top right bottom left*/
    margin-bottom: 18px;
    margin-right: 18px;
    background-color: white;
    width: 320px;
    min-height: fit-content;
    height:fit-content;
    max-height: fit-content;
    box-shadow: 3px 3px 3px 1px #979797 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    z-index: 3;
}

.toDoBox__title {
    margin-bottom: 27px;
    display:flex;
    justify-content: space-between;
}

.toDoBox__title input {
    width: 200px;
    display: block;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    outline:none;
    border: none;
    font-size: 18px;
    border-left: 6px solid #f5bc0f;
}

.toDoBox_menu {
    width: 50px;
    float: right;
    top: 0;
    right: 0;
    margin-top: -10px;
    padding-bottom: 30px; 
    display: flex;
    flex-wrap: wrap;
}

.toDoBox_menu .fa{
    display: inline-block;
    padding-right: 10px; 
    margin-bottom: 0px; 
    font-size: 24px;
    color:#4b4b4b;
}

.toDoBox_menu .faThumbtack {
    font-size: 27px;
}

.toDoBox_menu .fixed {
    color: #f5bc0f;
}

.toDoBox__elm-list {
    padding-left: 5px;
}

.toDoBox__elm-list li {
    display: flex;
    align-items: center;
    position: relative;
}

.toDoBox__elm-list li:not(:last-child) { 
    margin-bottom: 29px;  
 }

.circleBorderBtn {
    position: absolute;
    outline: inherit;
    border: 2px solid lightgrey;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.toDoBox__elm-list .faCheck {
    position: absolute;
    width: 15px;
    left: 4px;
    color: #b6b6b6;
}

.toDoBox__elm-list .completed {
    color: #FDDC42;
}

.toDoBox__elm-list .elmInputCompleted {
    color: #FDDC42;
}

.toDoBox__elm-list .editingCircleBorderBtn {
    border: 2px solid rgba(151, 53, 40, 0.7);
}

.toDoBox__elm-list .faMinus {
    position: absolute;
    width: 15px;
    left: 5px;
    color: rgba(151, 53, 40, 0.7);
}

.toDoBox__elm-list input {
    width: 220px;
    height: 14pt;
    overflow: visible;
    color: #7d7d7d;
    position: absolute;
    padding-left: 5px;
    left: 27px;
    outline:none;
    border: none;
    font-size: 16px;
}
