.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.toDoBox {
    display: inline-block;
    box-sizing: border-box;
    padding: 30px 15px 35px 30px; /*top right bottom left*/
    margin-bottom: 25px;
    margin-right: 20px;
    background-color: white;
    width: 320px;
    min-height: fit-content;
    height:fit-content;
    max-height: fit-content;
    box-shadow: 5px 10px 25px 10px #e8e8e8 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    z-index: 3;
}

.toDoBox__title {
    margin-bottom: 30px;
    display:flex;
    justify-content: space-between;
}

.toDoBox__title input {
    width: 180px;
    display: block;
    padding-left: 11px;
    padding-top: 0;
    padding-bottom: 0;
    outline:none;
    border: none;
    font-size: 15pt;
    border-left: 6px solid #f5bc0f;
}

.toDoBox_menu {
    width: 50px;
    float: right;
    top: 0;
    right: 0;
    margin-top: -10px;
    padding-bottom: 30px; 
    display: flex;
    flex-wrap: wrap;
}

.toDoBox_menu .fa{
    display: inline-block;
    padding-right: 10px; 
    margin-bottom: 10px; 
    font-size: 15px;
    color:#4b4b4b;
}

.toDoBox_menu .fixed {
    color: #f5bc0f;
}

.toDoBox__elm-list li {
    display: flex;
    align-items: center;
    position: relative;
}

.toDoBox__elm-list li:not(:last-child) { 
    margin-bottom: 33px;  
 }

.circleBorderBtn {
    position: absolute;
    outline: inherit;
    border: 2px solid lightgrey;
    background-color: white;
    height: 26px;
    width: 26px;
    border-radius: 13px;
}

.toDoBox__elm-list .faCheck {
    position: absolute;
    width: 20px;
    height:24px;
    left: 3px;
    color: #fddb4200;
}

.toDoBox__elm-list .completed {
    color: #FDDC42;
}

.toDoBox__elm-list .elmInputCompleted {
    color: #FDDC42;
}

.toDoBox__elm-list .editingCircleBorderBtn {
    border: 2px solid rgba(151, 53, 40, 0.7);
}

.toDoBox__elm-list .faMinus {
    position: absolute;
    width: 20px;
    height:24px;
    left: 3px;
    color: rgba(151, 53, 40, 0.7);
}

.toDoBox__elm-list input {
    width: 220px;
    height: 14pt;
    overflow: visible;
    color: #7d7d7d;
    position: absolute;
    padding-left: 11px;
    left: 30px;
    outline:none;
    border: none;
    font-size: 12pt;
}