.WeeklyBox {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 25px;
    margin-right: 20px;
    background-color: white;
    width: 320px;
    min-height: fit-content;
    height:fit-content;
    max-height: fit-content;
    box-shadow: 5px 10px 25px 10px #e8e8e8 ; /*x-position y-position blur spread color*/
}