.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.weeklyBox__elm-list .shaking {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    0%  { transform: rotate(10deg);  }
    50% { transform: rotate(0deg); } 
    100%{ transform: rotate(-10deg); }
}

.weeklyBox {
    align-items: center;
    justify-content: center;
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 314px;
    min-height: fit-content;
    height:fit-content;
    max-height: fit-content;
}

.weeklyBox input::placeholder {
    color: rgb(194, 194, 194);
    font-style: italic;
  }

.weeklyBox__title {
    width: 314px;
    padding-right: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}

.weeklyBox__title input {
    width: 250px;
    display: inline-block;
    margin-top: 17px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    outline:none;
    border: none;
    font-size: 12pt;
    border-left: 5px solid rgb(254, 192, 1);
    color: black;
}

.weeklyBox_menu {
    float: right;
    /* width: 30px; */
    top: 17px;
    right: 0px;
    margin-right: -5px;
    position: absolute;
}


.weeklyBox__elm-list {
    padding-left: 10px;
}

.weeklyBox__elm-list li {
    display: flex;
    align-items: center;
    position: relative;
}

.weeklyBox__elm-list li:not(:last-child) { 
    margin-bottom: 12px;  
 }

.circleBorderBtn {
    position: absolute;
    left: 2px;
    outline: inherit;
    border: 2px solid lightgrey;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.weeklyBox__elm-list .faCheck {
    position: absolute;
    width: 15px;
    left: 4px;
    color: #b6b6b6;
}

.weeklyBox__elm-list .completed {
    color: #FDDC42;
    position: absolute;
    text-decoration: line-through gray;
}

.weeklyBox__elm-list .elmInputCompleted {
    color: #FDDC42;
    text-decoration: line-through #FDDC42;
}

.weeklyBox__elm-list .editingCircleBorderBtn {
    border: 2px solid rgba(151, 53, 40, 0.7);
}

.weeklyBox__elm-list .faMinus {
    position: absolute;
    width: 15px;
    left: 5px;
    color: rgba(151, 53, 40, 0.7);
}


.weeklyBox__elm-list input {
    width: 220px;
    height: 14pt;
    margin-left: 30px;
    overflow: visible;
    color: #7d7d7d;
    left: 30px;
    outline:none;
    border: none;
    font-size: 12pt;
    
}
