.react-calendar {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.react-calendar__navigation__prev2-button {
    visibility: hidden;
}

.react-calendar__navigation__next2-button {
    visibility: hidden;
}

.react-calendar__navigation__prev-button {
    outline: none;
    border: none;
}

.react-calendar__navigation__next-button {
    outline: none;
    border: none;
}

.react-calendar__navigation__label {
    outline: none;
    border: none;
}