.react-calendar {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    outline: none;
    background-color: rgb(231, 230, 230);
    border-radius: 20px;
}

.react-calendar__navigation {
    margin: 0;
}

.react-calendar__navigation__label {
    width: 100px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.react-calendar__navigation__label__labelText {
    width: 100px;
    
}

.react-calendar__navigation__prev2-button {
    visibility: hidden;
    width: 0px;
}

.react-calendar__navigation__next2-button {
    visibility: hidden;
    width: 0px;
}

.react-calendar__navigation__prev-button {
    outline: none;
    border: none;
}

.react-calendar__navigation__next-button {
    outline: none;
    border: none;
}

.react-calendar__navigation__label {
    outline: none;
    border: none;
    width: 200px;
    display: flex;
    flex-grow: inherit;
}

.react-calendar__viewContainer {
    height: 170px;
    padding-left: 10px;
    padding-right: 10px;
}

.react-calendar__tile {
    outline: none;
    border:none;
    height: 25px;
    padding: 3px;
}
.react-calendar__month-view__days__day  {
    outline: none;
    border:none;
}
.react-calendar__month-view__days__day--neighboringMonth{
    outline: none;
    border:none;

}

.react-calendar__month-view__days__day--weekend {
    outline: none;
    border:none;
}
