.afterBoxList {
    margin-top: 25px;
    width: 300px;
    height: 200px;
    box-shadow: 2px 10px 25px 10px #e8e8e8 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    position: relative;
    z-index: 2;

    /*임시 텍스트 가운데 정렬*/
    display: flex;
    align-items: center;
    justify-content: center;
}