.HstBoxList {
    display: flex;
    flex-wrap: wrap;
}

.HstBoxList-layout {
    box-align: left;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background-color: white;
    box-shadow: 5px 10px 25px 10px #e8e8e8 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    margin-left: 0px;
    margin-top: 20px;
    flex-wrap: wrap;
    z-index: 3;
}