.Search {    
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background-color: white;
    box-shadow: 5px 10px 25px 10px #e8e8e8 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    vertical-align: center;
    width: 920px;
    height: 50px;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
}