.Search {
    border: 2px solid var(--deep-yellow);
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1140px;
    height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}