.Search__layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-align: center;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 10px 25px 10px #e8e8e8 ; /*x-position y-position blur spread color*/
    border-radius: 10px;
    width: 1200px;
    height: 70px;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 20px;
    flex-wrap: nowrap;
    padding: 20px 20px;
    z-index: 3;
}

.Search__layout>span {
    font-size: large;
    transform: skew(-0.03deg);
    display: inline-block;
    padding: 4.5px;
}

.search__input input[type=text] {
    width: 600px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 1px;
    margin-bottom: 1px;
    border: none;
    padding: 1px;
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: none;
    background: none;
}

.search__input input[type=text]:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
    border-bottom: none;
}

.search__date {
}

.search__date .faCalendarAlt{
    position: relative;
    width: 40px;
    height:30px;
    color: rgba(151, 53, 40, 0.7);
}
