*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-layout {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-layout__circle {
    height: 900px;
    width: 900px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px #979797 ; /*x-position y-position blur spread color*/
    border-radius: 600px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.login-layout__wrap {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:355px;
}

.login-layout__upper {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 30px;
}

.login-layout__upper .logo {
    font-size: 46px;
    color: #FDDC42;
}

.joinFindPwLinkBtn{
    color: darkgray;
    font-size: 13px;
}

.login-form {
    color: rgb(112, 112, 112);
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

.login-form__label {
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.login-form__input {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
}

.login-form__input input{ 
    outline:none;
    border: none;
    border-bottom: 2px solid rgb(112, 112, 112);
 }

.login-form__input input:focus {
    border-bottom: 2px solid #FDDC42;
 }

 .loginButton {
    width: 100%;
    height: 52px;
    background-color: #FDDC42;
    color: grey;
    border-radius: 10px;
    outline: inherit;
    border: none;
    font-weight: bold;
    margin-top: 32px;
 }
