*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-layout {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login-layout__circle {
    height: 900px;
    width: 900px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px #979797 ; /*x-position y-position blur spread color*/
    border-radius: 600px;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.login-layout__wrap {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:355px;
}

.login-layout__upper {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 30px;
}

.login-layout__upper .logo {
    font-size: 46px;
    color: #FDDC42;
}

.joinFindPwLinkBtn{
    color: darkgray;
    font-size: 13px;
}

.login-form {
    color: rgb(112, 112, 112);
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

.login-form__label {
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.login-form__input {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100%;
}

.login-form__input input{ 
    outline:none;
    border: none;
    border-bottom: 2px solid rgb(112, 112, 112);
 }

.login-form__input input:focus {
    border-bottom: 2px solid #FDDC42;
 }

 .loginButton {
    width: 100%;
    height: 52px;
    background-color: #FDDC42;
    color: grey;
    border-radius: 10px;
    outline: inherit;
    border: none;
    font-weight: bold;
    margin-top: 32px;
 }

 .leftUpperCircle {
    height: 750px;
    width: 750px;
    border-radius: 400px;
    background-color: rgb(254, 232, 84);
    position: absolute;
    top: -200px;
    left: -100px;
 }

 .leftLowerCircle {
    height: 480px;
    width: 480px;
    border-radius: 250px;
    background-color: rgba(255, 253, 129, 0.6);
    position: absolute;
    bottom: -30px;
    left: 20px;
    z-index: 2;
 }

 .rightUpperCircle {
    height: 440px;
    width: 440px;
    border-radius: 250px;
    background-color: rgb(255, 246, 127);
    position: absolute;
    top: -140px;
    right: 120px;
 }

 .rightSmallUpperCircle {
    height: 250px;
    width: 250px;
    border-radius: 250px;
    background-color: rgba(254, 232, 84, 0.6);
    position: absolute;
    top: -140px;
    right: -80px;
    z-index: 2;
 }

 .rightMiddleCircle {
    height: 270px;
    width: 270px;
    border-radius: 250px;
    background-color: rgba(255, 248, 157, 0.7);
    position: absolute;
    top: 340px;
    right: 110px;
    z-index: 2;
 }

 .rightLowerCircle {
    height: 570px;
    width: 570px;
    border-radius: 250px;
    background-color: rgb(255, 232, 84);
    position: absolute;
    bottom: -320px;
    right: -100px;
 }